* { -webkit-box-sizing: border-box; box-sizing: border-box; }

@-webkit-keyframes fix { from { background: #5f5fa3; color: #07c9fa; }
  50% { background: #be1cdf; -webkit-columns: #f3ad2b; columns: #f3ad2b; }
  80% { background: #0000DE; color: #8484ac; }
  to { background: #8f8fdd; color: #1414e6; } }

@keyframes fix { from { background: #5f5fa3; color: #07c9fa; }
  50% { background: #be1cdf; -webkit-columns: #f3ad2b; columns: #f3ad2b; }
  80% { background: #0000DE; color: #8484ac; }
  to { background: #8f8fdd; color: #1414e6; } }
a { text-decoration: none; }

a:visited { text-decoration: none; }

button:hover { cursor: pointer; }

.block { height: 630px; background: #F0F4F8; position: relative; }

.fixed { position: fixed; bottom: 10px; left: 10px; width: 80px; height: 80px; border-radius: 50%; background-color: #0000DE; -webkit-animation: fix 4s infinite; animation: fix 4s infinite; }
.fixed span { position: relative; top: 30px; left: 10px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 14px; color: #FFFFFF; }

.container { width: 1245px; position: absolute; margin: 0 auto; top: 0; left: 0; right: 0; }

.header { height: 630px; }

.navi { height: 53px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 12px; }
.navi .navi_section_a span > a { color: #6E9BB8; }
.navi .navi_section_b { position: relative; }
.navi .navi_section_b span::before { content: url(../../nav_img/Vector.png); position: absolute; left: -20px; }
.navi .navi_section_b span > a { color: #6E9BB8; }
.navi .navi_section_c ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.navi .navi_section_c ul li { margin: 0px 12px; position: relative; }
.navi .navi_section_c ul li #cont::after { content: url(../../nav_img/MapTrifold.png); position: absolute; left: 60px; bottom: -5px; }
.navi .navi_section_c ul span > a { color: #6E9BB8; }
.navi .navi_section_d { width: 24px; height: 16px; background-color: white; text-align: center; padding-top: 4px; }
.navi .navi_section_d span { color: #6E9BB8; }

hr { background-color: #CBD8E9; border: none; height: 1px; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 30px 0px 50px; font-family: 'Ubuntu', sans-serif; }
.menu .menu_b ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.menu .menu_b ul li { margin: 0px 14.5px; }
.menu .menu_b ul li span { font-weight: 400; font-size: 18px; color: #0000DE; }
.menu .menu_c > span { position: relative; }
.menu .menu_c > span a { color: #0000DE; font-weight: 700; font-size: 16px; }
.menu .menu_c > span > a::before { content: url(../../menu_img/phone.png); position: absolute; top: 1px; left: -20px; }
.menu .menu_c > span > a::after { content: url(../../menu_img/search.png); position: absolute; bottom: -5px; left: 130px; }
.menu .menu_d .blue_button { background: #0000DE; border-radius: 20px 0px; width: 174px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; }
.menu .menu_d .white_button { background: #FFFFFF; border-radius: 20px 0px; width: 174px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: #0000DE; border: none; }
.menu .menu_d button { margin-left: 15px; }

.promo { position: relative; }
.promo h1 { margin: 105px 0px 23px; font-family: 'Ubuntu'; font-style: normal; font-weight: 700; }
.promo h1 span { color: #0000DE; }
.promo #lt { position: absolute; left: 590px; top: 27px; }
.promo #rb { position: absolute; left: 900px; bottom: -125px; }
.promo #rt { position: absolute; left: 889px; bottom: 6px; }
.promo #lb { position: absolute; left: 588px; bottom: -140px; }
.promo #man { position: absolute; left: 676px; bottom: -170px; }
.promo .slogan { margin-bottom: 42px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 18px; }
.promo .blue_button { background: #0000DE; border-radius: 20px 0px; width: 190px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; margin-right: 20px; }
.promo .white_button { background: #FFFFFF; border-radius: 20px 0px; width: 159px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: #0000DE; border: none; }
.promo .dot { width: 95px; display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 500px; bottom: 30px; }
.promo .dot div { width: 10px; height: 10px; background: #C3D1E1; border-radius: 50%; margin: 0px 4px; }
.promo .dot > :nth-child(3) { background-color: #355DFB; }
.promo .arrow { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 0px; top: 215px; }
.promo .arrow .arrow_left { height: 40px; width: 40px; border-radius: 50%; background: url(../../back_img/left.png) no-repeat 50% 50%; background-color: white; }
.promo .arrow .arrow_right { height: 40px; width: 40px; border-radius: 50%; background: url(../../back_img/right.png) no-repeat 50% 50%; background-color: white; }

.possibilities_item_a { margin: 135px 0px 123px; }
.possibilities_item_a ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.possibilities_item_a ul li { position: relative; }
.possibilities_item_a ul li span { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 16px; }
.possibilities_item_a ul li:first-of-type { margin-left: 70px; }
.possibilities_item_a ul li:nth-child(1)::before { content: url(../../posibilities_img/Coin.png); position: absolute; top: -15px; left: -75px; }
.possibilities_item_a ul li:nth-child(2)::before { content: url(../../posibilities_img/Wallet.png); position: absolute; top: -15px; left: -75px; }
.possibilities_item_a ul li:nth-child(3)::before { content: url(../../posibilities_img/ChartBar.png); position: absolute; top: -15px; left: -75px; }
.possibilities_item_a ul li:nth-child(4)::before { content: url(../../posibilities_img/ShieldChevron.png); position: absolute; top: -15px; left: -75px; }

main .razum { height: 426px; width: 100%; margin-top: 970px; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .razum .left_razum { height: 100%; width: 100%; background: url(../back_gif/back.gif) no-repeat 15% 88%; position: relative; }
main .razum .left_razum img { position: absolute; left: -185px; }
main .razum .left_razum .blue_button { background: #0000DE; border-radius: 20px 0px; width: 318px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; position: absolute; left: 165px; top: 358px; }
main .razum .right_razum { width: 100%; }
main .razum .right_razum h5 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; }
main .razum .right_razum #text_a { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; color: #6489A0; margin: 34px 0px 24px; }
main .razum .right_razum h6 { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 24px; margin-bottom: 34px; position: relative; }
main .razum .right_razum h6:first-of-type::before { content: url("../back_gif/NumberCircleOne.png"); position: absolute; left: -65px; top: -13px; }
main .razum .right_razum h6:last-of-type::before { content: url("../back_gif/NumberCircleTwo.png"); position: absolute; left: -65px; top: -13px; }
main .razum .right_razum #text_b { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; color: #6489A0; line-height: 140%; }

main .invest { margin-top: 100px; }
main .invest .invest_top { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .invest .invest_top h3 { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 44px; margin-bottom: 36px; line-height: 110%; }
main .invest .invest_top p { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; color: #6E9BB8; line-height: 140%; }
main .invest .invest_top #invest_text { font-size: 16px; line-height: 150%; }
main .invest .invest_bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .invest .invest_bottom section { width: 405px; height: 565px; background-color: #F0F4F8; border-radius: 6px; margin-top: 158px; position: relative; padding: 40px 10px 0px 40px; }
main .invest .invest_bottom section #backimg { position: absolute; top: 40px; left: 0px; }
main .invest .invest_bottom section .invest_header { margin: 236px 0px 10px; font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; color: #79A6C3; }
main .invest .invest_bottom section h5 { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 24px; }
main .invest .invest_bottom section .invest_conditions { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 20px 0px 25px; }
main .invest .invest_bottom section .invest_conditions .bluespan { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 36px; color: #355DFB; margin-bottom: 5px; }
main .invest .invest_bottom section .invest_conditions div :last-of-type { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; }
main .invest .invest_bottom section .invest_conditions :nth-child(2) { padding-right: 65px; }
main .invest .invest_bottom section .invest_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 16px; color: #6E9BB8; line-height: 140%; margin-bottom: 27px; }
main .invest .invest_bottom section .blue_button { background: #0000DE; border-radius: 20px 0px; width: 166px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; margin-right: 17px; }
main .invest .invest_bottom section .white_button { background: #FFFFFF; border-radius: 20px 0px; width: 133px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: #0000DE; border: none; }
main .invest .invest_bottom :first-of-type #man { position: absolute; left: 50px; top: -100px; }
main .invest .invest_bottom :nth-of-type(2) #businessman { position: absolute; left: 50px; top: -100px; }
main .invest .invest_bottom :last-of-type #family { position: absolute; left: 0px; top: -100px; }

main .consultation_div { position: relative; z-index: 2; margin-top: 240px; }
main .consultation_div h3 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; }
main .consultation_div h3 span { color: #0000DE; font-weight: 700; }
main .consultation_div p { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 16px; line-height: 140%; color: #6E9BB8; margin: 17px 0px 33px; }
main .consultation_div .blue_button { background: #0000DE; border-radius: 20px 0px; width: 250px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; margin-right: 16px; }
main .consultation_div .white_button { background: #FFFFFF; border-radius: 20px 0px; width: 153px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: #0000DE; border: none; }

main .shema { margin-top: 133px; }
main .shema h6 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; margin-bottom: 36px; }
main .shema .shema_span { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 25px; line-height: 140%; color: #0000DE; }
main .shema .mrspan { margin-right: 480px; }
main .shema #right_top { position: absolute; left: 410px; bottom: 300px; }
main .shema #left_top { position: absolute; left: 730px; bottom: 300px; }
main .shema #left_bottom { position: absolute; left: 410px; bottom: 135px; }
main .shema #right_bottom { position: absolute; left: 730px; bottom: 135px; }
main .shema .shema_div { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 40px; padding: 28px 0px; height: 174px; background: url(../img_web/vec.webp) no-repeat; position: relative; }
main .shema .shema_div #title { position: absolute; top: -100px; }
main .shema .shema_div #titleshadow { position: absolute; top: -125px; }
main .shema .shema_div .bold { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 22px; margin-bottom: 11px; display: inline-block; }
main .shema .shema_div .nosh { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 22px; }
main .shema .shema_bottom { width: 1001px; height: 100px; margin: 5px auto 0px; text-align: center; padding-top: 15px; background: url(../img_web/bottomback.png) no-repeat; }
main .shema .shema_bottom p { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 14px; color: #92A7B9; margin-bottom: 10px; }
main .shema .shema_bottom span { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 22px; line-height: 140%; }
main .shema .shema_bottom span::before { content: url(../img_web/strelka.png); padding-right: 20px; }
main .shema .shema_bottom span::after { content: url(../img_web/strelka.png); padding-left: 20px; }

.container_z { width: 1368px; margin: 0 auto; position: absolute; top: 922px; bottom: 0; left: 0; right: 0; }
.container_z .calc { width: 1368px; height: 750px; background: #F0F4F8; border-radius: 64px 6px; padding: 169px 62px 110px; }
.container_z .calc h6 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; }
.container_z .calc .calc_content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.container_z .calc .calc_content .calc_content_a { width: 460px; height: 360px; }
.container_z .calc .calc_content .calc_content_a .calc_items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 31px; margin-bottom: 20px; }
.container_z .calc .calc_content .calc_content_a .calc_items .calc_left_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 16px; }
.container_z .calc .calc_content .calc_content_a .calc_items .calc_right_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 16px; }
.container_z .calc .calc_content .calc_content_a .bg { height: 6px; width: 100%; background: url(../../calc_img/blue.png) no-repeat, url(../../calc_img/clean.png) no-repeat; position: relative; margin-bottom: 34px; }
.container_z .calc .calc_content .calc_content_a .bg img { position: absolute; left: 180px; top: -11px; }
.container_z .calc .calc_content .calc_content_a .back { background: url(../../calc_img/blue2.png) no-repeat, url(../../calc_img/clean.png) no-repeat; }
.container_z .calc .calc_content .calc_content_a .back img { left: 285px; }
.container_z .calc .calc_content .calc_content_a form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.container_z .calc .calc_content .calc_content_a form label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 224px; height: 49px; border: 1px solid #C6D9E9; border-radius: 20px 0px; text-align: center; opacity: 0.5; color: #6E9BB8; }
.container_z .calc .calc_content .calc_content_a form label span { margin-left: 10px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 16px; }
.container_z .calc .calc_content .calc_content_a form label [type] { height: 20px; width: 20px; }
.container_z .calc .calc_content .calc_content_a form label:hover { background-color: white; cursor: pointer; z-index: 3; opacity: 1; -webkit-transition: 0.4s; transition: 0.4s; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 16px; color: black; }
.container_z .calc .calc_content .calc_content_b { width: 388.23px; height: 372px; background: url(../../calc_img/line.png) no-repeat; }
.container_z .calc .calc_content .calc_content_c { width: 309px; height: 374px; background: #FFFFFF; border-radius: 10px 10px 120px 10px; padding: 30px 35px; }
.container_z .calc .calc_content .calc_content_c div { margin: 21px 0px; }
.container_z .calc .calc_content .calc_content_c .wide_numbers { color: #355DFB; font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 36px; }
.container_z .calc .calc_content .calc_content_c .wide_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; }
.container_z .calc .calc_content .calc_content_c button { background: #0000DE; border-radius: 20px 0px; width: 190px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; }
.container_z .consultation { height: 354px; background: #F0F4F8; border-radius: 64px 6px; margin-top: 1840px; }
.container_z .consultation div { background: url(../back_gif/whiteback.gif) no-repeat 85%; position: relative; height: 100%; z-index: 1; }
.container_z .consultation div img { position: absolute; left: 835px; bottom: 0px; }
.container_z .shema_work { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 221px; }
.container_z .online { width: 1368px; height: 664px; background: #FFFFFF; -webkit-box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09); box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09); border-radius: 64px 6px; margin-top: 245px; background: url(../img_web/manonline.webp) no-repeat right bottom; }
.container_z .online .online_container { width: 1245px; margin: 0 auto; height: 100%; }
.container_z .online .online_container h6 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; padding: 87px 0px 49px; }
.container_z .online .online_container .grand_div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; -webkit-box-sizing: border-box; box-sizing: border-box; }
.container_z .online .online_container .grand_div .grand_item { width: 300px; height: 311px; margin-right: 15px; }
.container_z .online .online_container .grand_div .grand_item .grand-header { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 22px; color: #0000DE; }
.container_z .online .online_container .grand_div .grand_item input { width: 300px; height: 68px; border: 1px solid #DCEAF7; border-radius: 10px; margin-top: 30px; }
.container_z .online .online_container .grand_div .grand_item select { width: 300px; height: 68px; border: 1px solid #DCEAF7; border-radius: 10px; margin-top: 30px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; padding: 10px; }
.container_z .online .online_container .grand_div .first_grand form :nth-child(1) { margin-top: 15px; }
.container_z .online .online_container .grand_div .three_grand form :nth-child(1) { margin-top: 15px; }
.container_z .online .online_container .grand_div .second_grand form { padding-top: 17px; }
.container_z .online .online_container .grand_div form input { padding: 10px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; }
.container_z .online .online_container .blue_button { background: #0000DE; border-radius: 20px 0px; width: 224px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 16px; margin: 56px 30px 0 0; }
.container_z .online .online_container div { display: inline-block; }
.container_z .online .online_container div span { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #9AB5C6; line-height: 150%; }

footer { height: 669px; background: #F0F4F8; margin-top: 4645px; }
footer .footer_container { width: 1245px; margin: 0 auto; height: 100%; }
footer .footer_container .logo_form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 71px; padding-top: 87px; }
footer .footer_container .logo_form input { height: 48px; width: 891px; padding-left: 57px; background: url(../../back_img/MagnifyingGlass.png) no-repeat 1% 50%; background-color: white; border-radius: 6px; border: none; }
footer .footer_container .footer_menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
footer .footer_container .footer_menu .contacts .number { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 37px; color: #0000DE; }
footer .footer_container .footer_menu .contacts .number a:visited { color: #0000DE; }
footer .footer_container .footer_menu .contacts .email { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; margin: 8px 0px 45px; }
footer .footer_container .footer_menu .contacts .addres { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 18px; color: #0000DE; }
footer .footer_container .footer_menu .contacts .icons { font-size: 40px; color: #3387be; }
footer .footer_container .footer_menu .contacts .icons a i { margin: 0px 3px; }
footer .footer_container .footer_menu .contacts .icons a i:hover { -webkit-transform: scale(1.4); transform: scale(1.4); }
footer .footer_container .footer_menu .contacts .icons a:visited { color: #3387be; }
footer .footer_container .footer_menu .box h3 { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 20px; color: #0000DE; margin-bottom: 14px; }
footer .footer_container .footer_menu .box ul { margin-top: 55px; }
footer .footer_container .footer_menu .box ul li { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; margin-top: 20px; }
footer .footer_container .footer_menu .box ul li a:visited { color: black; }
footer .footer_container .h { margin: 62px 0px 11px; font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_info { margin: 60px 0px 16px; font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_info span { margin-right: 21px; }
footer .footer_container .h_info a:visited { color: #6E9BB8; }

/*# sourceMappingURL=style.css.map */