* { -webkit-box-sizing: border-box; box-sizing: border-box; }

a { text-decoration: none; }

a:visited { text-decoration: none; }

button:hover { cursor: pointer; }

.block { width: 1920px; height: 630px; background: #F0F4F8; position: relative; }

.container { width: 1245px; position: absolute; margin: 0 auto; top: 0; left: 0; right: 0; }

.header { height: 630px; }
.header p a { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #8FB1C7; -webkit-text-decoration-line: underline; text-decoration-line: underline; margin-right: 10px; }
.header p a:nth-child(1)::after { content: url(../img/strelka.png); padding-left: 10px; }
.header p a:nth-child(2)::after { content: url(../img/strelka.png); padding-left: 10px; }

.navi { height: 53px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 12px; }
.navi .navi_section_a span > a { color: #6E9BB8; }
.navi .navi_section_b { position: relative; }
.navi .navi_section_b span::before { content: url(../../nav_img/Vector.png); position: absolute; left: -20px; }
.navi .navi_section_b span > a { color: #6E9BB8; }
.navi .navi_section_c ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.navi .navi_section_c ul li { margin: 0px 12px; position: relative; }
.navi .navi_section_c ul li #cont::after { content: url(../../nav_img/MapTrifold.png); position: absolute; left: 60px; bottom: -5px; }
.navi .navi_section_c ul span > a { color: #6E9BB8; }
.navi .navi_section_d { width: 24px; height: 16px; background-color: white; text-align: center; padding-top: 4px; }
.navi .navi_section_d span { color: #6E9BB8; }

hr { background-color: #CBD8E9; border: none; height: 1px; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 30px 0px 42px; font-family: 'Ubuntu', sans-serif; }
.menu .menu_b ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.menu .menu_b ul li { margin: 0px 14.5px; }
.menu .menu_b ul li span { font-weight: 400; font-size: 18px; color: #0000DE; }
.menu .menu_c > span { position: relative; }
.menu .menu_c > span a { color: #0000DE; font-weight: 700; font-size: 16px; }
.menu .menu_c > span > a::before { content: url(../../menu_img/phone.png); position: absolute; top: 1px; left: -20px; }
.menu .menu_c > span > a::after { content: url(../../menu_img/search.png); position: absolute; bottom: -5px; left: 130px; }
.menu .menu_d .blue_button { background: #0000DE; border-radius: 20px 0px; width: 174px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; }
.menu .menu_d .white_button { background: #FFFFFF; border-radius: 20px 0px; width: 174px; height: 48px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: #0000DE; border: none; }
.menu .menu_d button { margin-left: 15px; }

main #info { margin: 380px 0px 31px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; }
main .info_container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
main .info_container a:visited { color: #0000DE; }
main .info_container section { padding: 22.5px 21.5px 36px 30px; width: 405px; height: 360px; background: #F0F4F8; border-radius: 10px; }
main .info_container .response h5 { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 22px; margin-bottom: 28px; }
main .info_container .response p { margin-bottom: 33px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 16px; color: #0000DE; background: url(../../back_img/CaretRight.png) no-repeat; background-position: -10px; padding-left: 30px; }
main .info_container .response #response_header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
main .info_container .response #response_header span { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; color: #79A6C3; }

.container_z { width: 1368px; margin: 0 auto; position: absolute; top: 250px; bottom: 0; left: 0; right: 0; }
.container_z .online { width: 1368px; height: 664px; background: #FFFFFF; -webkit-box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09); box-shadow: 6px 6px 70px rgba(0, 0, 0, 0.09); border-radius: 64px 6px; background: url(../../invest_page/img_web/manonline.webp) no-repeat right bottom; background-color: white; }
.container_z .online .online_container { width: 1245px; margin: 0 auto; height: 100%; }
.container_z .online .online_container h6 { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 34px; padding: 87px 0px 49px; }
.container_z .online .online_container .grand_div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: left; -ms-flex-pack: left; justify-content: left; -webkit-box-sizing: border-box; box-sizing: border-box; }
.container_z .online .online_container .grand_div .grand_item { width: 300px; height: 311px; margin-right: 15px; }
.container_z .online .online_container .grand_div .grand_item .grand-header { font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 22px; color: #0000DE; }
.container_z .online .online_container .grand_div .grand_item input { width: 300px; height: 68px; border: 1px solid #DCEAF7; border-radius: 10px; margin-top: 30px; }
.container_z .online .online_container .grand_div .grand_item select { width: 300px; height: 68px; border: 1px solid #DCEAF7; border-radius: 10px; margin-top: 30px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; padding: 10px; }
.container_z .online .online_container .grand_div .first_grand form :nth-child(1) { margin-top: 15px; }
.container_z .online .online_container .grand_div .three_grand form :nth-child(1) { margin-top: 15px; }
.container_z .online .online_container .grand_div .second_grand form { padding-top: 17px; }
.container_z .online .online_container .grand_div form input { padding: 10px; font-family: 'Ubuntu'; font-style: normal; font-weight: 300; font-size: 20px; }
.container_z .online .online_container .blue_button { background: #0000DE; border-radius: 20px 0px; width: 224px; height: 68px; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 14px; color: white; border: none; font-family: 'Ubuntu'; font-style: normal; font-weight: 500; font-size: 16px; margin: 56px 30px 0 0; }
.container_z .online .online_container div { display: inline-block; }
.container_z .online .online_container div span { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #9AB5C6; line-height: 150%; }

footer { height: 669px; background: #F0F4F8; margin-top: 1000px; }
footer .footer_container { width: 1245px; margin: 0 auto; height: 100%; }
footer .footer_container .logo_form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-bottom: 71px; padding-top: 87px; }
footer .footer_container .logo_form input { height: 48px; width: 891px; padding-left: 57px; background: url(../../back_img/MagnifyingGlass.png) no-repeat 1% 50%; background-color: white; border-radius: 6px; border: none; }
footer .footer_container .footer_menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
footer .footer_container .footer_menu .contacts .number { font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 37px; color: #0000DE; }
footer .footer_container .footer_menu .contacts .number a:visited { color: #0000DE; }
footer .footer_container .footer_menu .contacts .email { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; margin: 8px 0px 45px; }
footer .footer_container .footer_menu .contacts .addres { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 18px; color: #0000DE; }
footer .footer_container .footer_menu .contacts .icons { font-size: 40px; color: #3387be; }
footer .footer_container .footer_menu .contacts .icons a i { margin: 0px 3px; }
footer .footer_container .footer_menu .contacts .icons a i:hover { -webkit-transform: scale(1.4); transform: scale(1.4); }
footer .footer_container .footer_menu .contacts .icons a:visited { color: #3387be; }
footer .footer_container .footer_menu .box h3 { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 20px; color: #0000DE; margin-bottom: 14px; }
footer .footer_container .footer_menu .box ul { margin-top: 55px; }
footer .footer_container .footer_menu .box ul li { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 14px; margin-top: 20px; }
footer .footer_container .footer_menu .box ul li a:visited { color: black; }
footer .footer_container .h { margin: 62px 0px 11px; font-family: 'Ubuntu'; font-style: normal; font-weight: 700; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_text { font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_info { margin: 60px 0px 16px; font-family: 'Ubuntu'; font-style: normal; font-weight: 400; font-size: 12px; color: #6E9BB8; }
footer .footer_container .h_info span { margin-right: 21px; }
footer .footer_container .h_info a:visited { color: #6E9BB8; }

/*# sourceMappingURL=style.css.map */